<a (click)="openAddItemModal(createTaskTemplate)" class="btn btn-primary">Create new Canvas</a>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Designed for</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let canvas of canvasList">
      <td><a [routerLink]="['/businessmodelcanvas', canvas.canvasId]" routerLinkActive="active">{{canvas.name}}</a></td>
      <td>{{canvas.designedFor}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<ng-template #createTaskTemplate>
    <form>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new <span class="underline">BMC</span></h4>
  
        <span class="pull-right"> 
          <i class="fa fa-close clickable"(click)="hideModal()"></i>
        </span>
      </div>
      <div class="modal-body">
    
        <div class="form-group">
          <label for="addItemName">Name</label>
          <input type="text" name="addItemName" class="form-control" [(ngModel)]="itemToAdd.name" id="addItemName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="addItemDesignedFor">Designed for</label>
          <input type="text" name="addItemDesignedFor" class="form-control" [(ngModel)]="itemToAdd.designedFor" id="addItemDesignedFor" placeholder="Designed for">
        </div>
  
      </div>
      <div class="modal-footer">
          <button type="button" (click)="addItemSubmit()" class="btn btn-default">Submit</button>
      </div>
    </form>
  </ng-template>