<div class="container-fluid br bl bb bt">

  <div class="row">

    <!-- Key partners -->
    <div class="col-md-3">

      <div>
        <app-bmcitemlist [name]="'Key Partners'"></app-bmcitemlist>
      </div>

    </div>
    <!-- Key activities & Key Resources -->
    <div class="col-md-2 br">

      <div class="row bb bl">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Key Activities'"></app-bmcitemlist>
        </div>
      </div>
      <div class="row bl">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Key Resources'"></app-bmcitemlist>
        </div>
      </div>
      
    </div>
    <!-- Value propositions -->
    <div class="col-md-2">
      
      <div>
        <app-bmcitemlist [name]="'Value Propositions'"></app-bmcitemlist>
      </div>

    </div>
    <!-- Customer Relationships & Channels -->
    <div class="col-md-2 br">

      <div class="row bb bl">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Customer Relationships'"></app-bmcitemlist> 
        </div>
      </div>
      <div class="row bl">
        <div class="col-xs-12">
          <app-bmcitemlist [name]="'Channels'"></app-bmcitemlist>
        </div>
      </div>

    </div>
    <!-- Customer Segments -->
    <div class="col-md-3">

      <div>
        <app-bmcitemlist [name]="'Customer Segments'"></app-bmcitemlist>
      </div>

    </div>

  </div>
  <div class="row bt">

    <!-- Cost structure -->
    <div class="col-md-6 br ">

      <div>
        <app-bmcitemlist [name]="'Cost Structure'"></app-bmcitemlist>
      </div>

    </div>
    <!-- Revenue Streams -->
    <div class="col-md-6">
      
      <div>
        <app-bmcitemlist [name]="'Revenue Streams'"></app-bmcitemlist>
      </div>

    </div>

  </div>

</div>