<div *ngIf="canvasData != null">
  <h1>Business Model Canvas</h1>

  <p>
    Id: {{canvasData.id}}<br />
    Name: {{canvasData.name}}<br />
    Designed for: {{canvasData.designedFor}}<br />
  </p>

  <div class="container-fluid br bl bb bt">

    <div class="is-table-row">

      <!-- Key partners -->
      <div class="col-md-3">

        <div>
          <app-bmcitemlist  [name]="'Key Partners'" 
                            [description]="'Key Partners are the relationships that you have with other business, governmental, or non-consumer entities that help your business model work. These can be the relationships that your company has with your suppliers, your manufacturers, business partners, etc. These partnerships that you will undoubtedly create will be forces that help your business succeed in areas that would be inefficient for you to do yourself.'" 
                            [singularName]="'Key Partner'" 
                            [tasks]="canvasData.keyPartners"></app-bmcitemlist>
        </div>

      </div>
      <!-- Key activities & Key Resources -->
      <div class="col-md-2 br bl">

        <div class="row bb">
          <div class="col-xs-12">
              <app-bmcitemlist  [name]="'Key Activities'" 
                                [description]="'Key activities are the most important activities in executing a company’s value proposition. Your Key Activities segment may not require as much getting out of the building. Most of these activities will make themselves apparent as you answer the questions posed by other canvas blocks. Because of this, we spent relatively little time developing our hypotheses here, and unless you’re designing an automated or robotic inventory retrieval system for Amazon or Wal-Mart, likely your Key Activities will develop with your business.'"
                                [singularName]="'Key Activity'" 
                                [tasks]="canvasData.keyActivities"></app-bmcitemlist>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <app-bmcitemlist  [name]="'Key Resources'" 
                                [description]="''"  
                                [singularName]="'Key Resource'"
                                [tasks]="canvasData.keyResources"></app-bmcitemlist>
          </div>
        </div>
        
      </div>
      <!-- Value propositions -->
      <div class="col-md-2 br">
        
        <div>
          <app-bmcitemlist [name]="'Value Propositions'" 
                           [description]="''"  
                           [singularName]="'Value Proposition'" 
                           [tasks]="canvasData.valuePropositions"></app-bmcitemlist>
        </div>

      </div>
      <!-- Customer Relationships & Channels -->
      <div class="col-md-2 br">

        <div class="row bb">
          <div class="col-xs-12">
              <app-bmcitemlist  [name]="'Customer Relationships'"
                                [description]="''" 
                                [singularName]="'Customer Relationship'" 
                                [tasks]="canvasData.customerRelationships"></app-bmcitemlist> 
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12">
            <app-bmcitemlist [name]="'Channels'" [singularName]="'Channel'" [tasks]="canvasData.channels"></app-bmcitemlist>
          </div>
        </div>

      </div>
      <!-- Customer Segments -->
      <div class="col-md-3">

        <div>
          <app-bmcitemlist [name]="'Customer Segments'" [singularName]="'Customer Segment'" [tasks]="canvasData.customerSegments"></app-bmcitemlist>
        </div>

      </div>

    </div>
    <div class="is-table-row bt">

      <!-- Cost structure -->
      <div class="col-md-6 br ">

        <div>
          <app-bmcitemlist [name]="'Cost Structure'" [singularName]="'Cost Structure'" [tasks]="canvasData.costStructure"></app-bmcitemlist>
        </div>

      </div>
      <!-- Revenue Streams -->
      <div class="col-md-6">
        
        <div>
          <app-bmcitemlist [name]="'Revenue Streams'" [singularName]="'Revenue Stream'" [tasks]="canvasData.revenueStreams"></app-bmcitemlist>
        </div>

      </div>

    </div>

  </div>
</div>