<h1>Business Model Canvas</h1>

<div class="container-fluid br bl bb bt">

  <div class="is-table-row">

    <!-- Key partners -->
    <div class="col-md-3">

      <div>
        <app-bmcitemlist [name]="'Key Partners'" [tasks]="canvasData.keyPartners"></app-bmcitemlist>
      </div>

    </div>
    <!-- Key activities & Key Resources -->
    <div class="col-md-2 br">

      <div class="row bb bl">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Key Activities'" [tasks]="canvasData.keyActivities"></app-bmcitemlist>
        </div>
      </div>
      <div class="row bl">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Key Resources'" [tasks]="canvasData.keyResources"></app-bmcitemlist>
        </div>
      </div>
      
    </div>
    <!-- Value propositions -->
    <div class="col-md-2 br">
      
      <div>
        <app-bmcitemlist [name]="'Value Propositions'" [tasks]="canvasData.valuePropositions"></app-bmcitemlist>
      </div>

    </div>
    <!-- Customer Relationships & Channels -->
    <div class="col-md-2 br">

      <div class="row bb">
        <div class="col-xs-12">
            <app-bmcitemlist [name]="'Customer Relationships'" [tasks]="canvasData.customerRelationships"></app-bmcitemlist> 
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12">
          <app-bmcitemlist [name]="'Channels'" [tasks]="canvasData.channels"></app-bmcitemlist>
        </div>
      </div>

    </div>
    <!-- Customer Segments -->
    <div class="col-md-3">

      <div>
        <app-bmcitemlist [name]="'Customer Segments'" [tasks]="canvasData.customerSegments"></app-bmcitemlist>
      </div>

    </div>

  </div>
  <div class="is-table-row bt">

    <!-- Cost structure -->
    <div class="col-md-6 br ">

      <div>
        <app-bmcitemlist [name]="'Cost Structure'" [tasks]="canvasData.costStructure"></app-bmcitemlist>
      </div>

    </div>
    <!-- Revenue Streams -->
    <div class="col-md-6">
      
      <div>
        <app-bmcitemlist [name]="'Revenue Streams'" [tasks]="canvasData.revenueStreams"></app-bmcitemlist>
      </div>

    </div>

  </div>

</div>