<h3>{{meta.Name}} <i class="fa fa-question-circle-o" title="{{meta.Description}}"></i> <i class="fa fa-plus-circle clickable pull-right" (click)="addItem(createTaskTemplate)"></i></h3> 
        
<div *ngFor="let task of data.items" class="panel panel-default">
  <div class="panel-body clickable" (click)="selectTask(task); openModal(template)">
    <span title="{{task.description}}">{{task.title}}</span>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{meta.Name}}: {{selectedTask.title}}</h4>

    <span class="pull-right">
      <i class="fa fa-pencil-square-o clickable" (click)="editItem(selectedTask)"></i> 
      <i class="fa fa-trash clickable" (click)="removeItemSubmit(selectedTask)"></i>
      <i class="fa fa-close clickable"(click)="modalRef.hide()"></i>
    </span>
  </div>
  <div class="modal-body">
    <p>Created: {{selectedTask.created}}</p>
    <p>Description:</p>
    {{selectedTask.description}}
  </div>
</ng-template>

<ng-template #createTaskTemplate>
  <form>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add new <span class="underline">{{singularName}}</span></h4>

      <span class="pull-right"> 
        <i class="fa fa-close clickable"(click)="hideModal()"></i>
      </span>
    </div>
    <div class="modal-body">
  
      <div class="form-group">
        <label for="addItemTitle">Title</label>
        <input type="text" name="addItemTitle" class="form-control" [(ngModel)]="itemToAdd.title" id="addItemTitle" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="addItemDescription">Description</label>
        <textarea class="form-control" rows="3" name="addItemDescription" [(ngModel)]="itemToAdd.description" id="addItemDescription" placeholder="Description"></textarea>
      </div>

    </div>
    <div class="modal-footer">
        <button type="button" (click)="addItemSubmit()" class="btn btn-default">Submit</button>
    </div>
  </form>
</ng-template>


  <ng-template #editTaskTemplate>
    <form>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit {{data.singularName}}: {{selectedTask.title}}</h4>

        <span class="pull-right"> 
          <i class="fa fa-close clickable"(click)="hideModal()"></i>
        </span>
      </div>
      <div class="modal-body">
    
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <textarea class="form-control" rows="3" id="inputDescription" placeholder="Description"></textarea>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" (click)="addItem()" class="btn btn-default">Submit</button>
      </div>
    </form>
  </ng-template>