<h3>{{data.name}} <i class="fa fa-question-circle-o" title="{{data.description}}"></i> <i class="fa fa-plus-circle clickable pull-right" (click)="openModal(createTaskTemplate)"></i></h3> 
        
<div *ngFor="let task of data.items" class="panel panel-default">
  <div class="panel-body clickable" (click)="openModal(template); selectTask(task)">
    <span title="{{task.description}}">{{task.title}}</span>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{name}}: {{selectedTask.title}}</h4>

    <span class="pull-right">
      <i class="fa fa-pencil-square-o clickable"></i> 
      <i class="fa fa-trash clickable" (click)="removeItem(selectedTask)"></i>
      <i class="fa fa-close clickable"(click)="modalRef.hide()"></i>
    </span>
  </div>
  <div class="modal-body">
    <p>Created: {{selectedTask.created}}</p>
    <p>Description:</p>
    {{selectedTask.description}}
  </div>
</ng-template>

<ng-template #createTaskTemplate>
    <form>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new <span class="underline">{{singularName}}</span></h4>

        <span class="pull-right"> 
          <i class="fa fa-close clickable"(click)="hideModal()"></i>
        </span>
      </div>
      <div class="modal-body">
    
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="inputDescription">Description</label>
          <textarea class="form-control" rows="3" id="inputDescription" placeholder="Description"></textarea>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" (click)="addItem()" class="btn btn-default">Submit</button>
      </div>
    </form>
  </ng-template>