.br {
    border-right: 1px solid #ccc;
}

.bb {
    border-bottom: 1px solid #ccc;
}

.bl {
    border-left: 1px solid #ccc;
}

.bt {
    border-top: 1px solid #ccc;
}

.is-table-row {
    display: table;
    width: 100%;
}

.is-table-row > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.container-fluid {
    padding: 0;
}